webapps/Tomcat 6/IdentityBasedStorage/WEB-INF/wsdl/PublicAuditService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://logic.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PublicAuditService" targetNamespace="http://logic.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://logic.com/" schemaLocation="PublicAuditService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="startAudit">
    <part element="tns:startAudit" name="parameters"/>
  </message>
  <message name="startAuditResponse">
    <part element="tns:startAuditResponse" name="parameters"/>
  </message>
  <message name="fetchFileCon">
    <part element="tns:fetchFileCon" name="parameters"/>
  </message>
  <message name="fetchFileConResponse">
    <part element="tns:fetchFileConResponse" name="parameters"/>
  </message>
  <message name="genSignature">
    <part element="tns:genSignature" name="parameters"/>
  </message>
  <message name="genSignatureResponse">
    <part element="tns:genSignatureResponse" name="parameters"/>
  </message>
  <message name="finalizecheck">
    <part element="tns:finalizecheck" name="parameters"/>
  </message>
  <message name="finalizecheckResponse">
    <part element="tns:finalizecheckResponse" name="parameters"/>
  </message>
  <portType name="PublicAuditDelegate">
    <operation name="startAudit">
      <input message="tns:startAudit"/>
      <output message="tns:startAuditResponse"/>
    </operation>
    <operation name="fetchFileCon">
      <input message="tns:fetchFileCon"/>
      <output message="tns:fetchFileConResponse"/>
    </operation>
    <operation name="genSignature">
      <input message="tns:genSignature"/>
      <output message="tns:genSignatureResponse"/>
    </operation>
    <operation name="finalizecheck">
      <input message="tns:finalizecheck"/>
      <output message="tns:finalizecheckResponse"/>
    </operation>
  </portType>
  <binding name="PublicAuditPortBinding" type="tns:PublicAuditDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="startAudit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="fetchFileCon">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="genSignature">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="finalizecheck">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="PublicAuditService">
    <port binding="tns:PublicAuditPortBinding" name="PublicAuditPort">
      <soap:address location="http://localhost:8080/IdentityBasedStorage/PublicAuditPort"/>
    </port>
  </service>
</definitions>
